{{define "shell"}}
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GoGo Admin-Dashboard</title>
    <meta name="description" content="GoGo Admin-Dashboard">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="/assets/css/tailwind.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="/assets/js/common.js"></script>

    <script type="module" src="/assets/gogo/gogo.esm.js"></script>
    <script nomodule="" src="/assets/gogo/gogo.js"></script>
  
</head>
{{template "body" .}}
</html>
{{end}}