{{template "shell" .}}
{{define "title"}}
Session: {{.Session.Name}}
{{end}}
{{define "main"}}
<script src="/assets/js/session.js"></script>
<script>
    window.session_id = "{{.Session.ID}}";
</script>
<div class="flex flex-wrap h-full" style="height: 89%;">
    <div class="w-full bg-black border-transparent rounded-bl-lg rounded-br-lg shadow-lg">
        <div class="video-wrapper flex flex-wrap justify-center h-full">
            <div class="overlay-top w-3/5 rounded-tl-lg rounded-tr-lg p-2">
                <button type="button" id="btnLogs"
                    class="bg-blue-500 hover:bg-blue-700 text-white text-xs font-bold py-2 px-4 rounded-full">
                    Logs
                </button>
                <button type="button" id="btnSettings"
                    class="bg-green-500 hover:bg-green-700 text-white text-xs font-bold py-2 px-4 rounded-full">
                    Settings
                </button>
            </div>
            <div class="ml-3 mt-12 overlay-log rounded" id="logs">
                <table class="text-white text-xs">
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="w-3/5 h-full rounded-lg ">
                <video id="main-video" class="h-full w-full rounded-lg" autoplay="" playsinline=""></video>
            </div>
            <div id="video-sidebar" class="video-sidebar bg-gray-900 text-white w-2/5 rounded-br-lg">
                <div class="w-full p-2 items-center flex">
                    <h2 class="py-2 px-4 ">Users</h2>
                </div>
                <div class="w-full px-2 text-gray-500 border-solid border-t-2 border-b-2 border-gray-800 " id="users">
                    <table id="tblUsers" class="w-full table-auto p2">
                        <thead>
                            <tr>
                                <th class="text-gray-400 text-left">ID</th>
                                <th class="text-gray-400 text-left">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="overlay-bottom w-3/5 rounded-bl-lg rounded-br-lg p-2 items-center justify-center">
                <div class="w-full text-center">
                    <button type="button"
                        class="bg-red-500 hover:bg-red-700 text-2xl text-white font-bold py-2 px-4 rounded-full">
                        <i class="fas fa-phone-slash fa-flip-horizontal"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "modal-template"}}
<!--Modal-->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
        <div class="modal-content py-4 text-left px-6">
            <!--Title-->
            <div class="flex justify-between items-center pb-3">
                <p class="text-2xl font-bold">Devices</p>
            </div>
            <!--Body-->
            <div class="body">
                <div class="flex flex-wrap mb-6">
                    <label class="block text-gray-700 font-bold pr-4" for="inline-full-name">
                        Video Device
                    </label>
                    <div class="inline-block relative">
                        <select id="video_devices"
                            class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                        </select>
                        <div
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap mb-6">
                    <label class="block text-gray-700 font-bold pr-4" for="inline-full-name">
                        Audio Device
                    </label>
                    <div class="inline-block relative">
                        <select id="audio_devices"
                            class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                        </select>
                        <div
                            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer-->
            <div class="flex justify-end pt-2">
                <button
                    class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Start</button>
            </div>
        </div>
    </div>
</div>
{{end}}