{{template "shell" .}}
{{define "title"}}
Session {{.Session.Name}}
{{end}}
{{define "main"}}
<script>
    let pc = new RTCPeerConnection({
        iceServers: [
            {
                urls: 'stun:stun.l.google.com:19302'
            }
        ]
    })
    pc.ontrack = function (event) {
        if (event && event.streams) {
            const stream = event.streams[0]
            if (stream.id === "video-pipe") {
                console.log("Add Video Stream")
                var el = document.createElement("video")
                el.srcObject = event.streams[0]
                el.id = "main-video"
                el.autoplay = true
                el.controls = false
                el.muted = true
                el.onerror = (err) => { console.log(err) }
                el.onplaying = (ev) => { console.log(ev) }
                el.setAttribute("playsinline", "")
                el.setAttribute("class", "w-full")
                document.getElementById('video-body').appendChild(el)
            }

            if (stream.id === "audio-pipe") {
                console.log("Add Audio Track")
                let el = document.getElementById('main-video')
                if (el.srcObject) {
                    el.srcObject.addTrack(event.track)
                }
            }
        }
    }
    var sendOffer = () => {
        fetch('/session/sdp/{{.Session.ID}}', {
            method: 'POST',
            body: btoa(JSON.stringify(pc.localDescription))
        }).then((resp) => {
            try {
                resp.text().then((text) => {
                    const answer = JSON.parse(atob(text))
                    pc.setRemoteDescription(new RTCSessionDescription(answer))
                })
            } catch (e) {
                alert(e)
            }
        });
    }

    var createOffer = () => {
        navigator.mediaDevices.getUserMedia(
            {
                "audio": true,
                "video": {
                    width: 320,
                    height: 320,
                },
            }).then(stream => {
                stream.getTracks().forEach(function (track) {
                    pc.addTrack(track, stream);
                });
                pc.addTransceiver('video')
                pc.addTransceiver('audio')
                pc.createOffer()
                    .then(d => {
                        pc.setLocalDescription(d).then(() => {
                            sendOffer()
                        })
                    })
                    .catch((msg) => { console.log(msg); })
            }).catch((msg) => { console.log(msg); })

    }
    createOffer()

</script>
<div class="flex flex-wrap -mx-2 p-3 ">
    <div class="md:flex w-full">

        <div class="md:flex-shrink-0" >
            <div class="w-full bg-white border-transparent rounded-lg shadow-lg">
                <div class="bg-blue-700 border-b-2 border-blue-500 rounded-tl-lg rounded-tr-lg p-2">
                    <h5 class="font-bold uppercase text-white">Stream</h5>
                </div>
                <div id="video-body" class="w-full">

                </div>
                <div class="rounded-bl-lg rounded-br-lg p-2">
                    <a href="#" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">
                        Exit
                    </a>
                </div>
            </div>
        </div>
        <div class="mt-4 md:mt-0 md:ml-6 ">
            <div class="w-full bg-white border-transparent rounded-lg shadow-lg">
                <div class="bg-orange-600 border-b-2 border-orange-500 rounded-tl-lg rounded-tr-lg p-2">
                    <h5 class="font-bold uppercase text-white">Active Users</h5>
                </div>
                <div class="w-full">
                    <table class="w-full">
                        <thead>
                            <tr>
                                <th class="text-left border border-gray-400 px-4 py-2 text-blue-900">ID</th>
                                <th class="text-left border border-gray-400 px-4 py-2 text-blue-900">Name</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            {{range $idx, $sess := .Session.Users}}
                            <tr>
                                <td class="border border-gray-400 px-4 py-1">{{$sess.ID}}</td>
                                <td class="border border-gray-400 px-4 py-1">{{$sess.Name}}</td>
                            </tr>
                            {{end}}
    
                            {{ $usersCount := len .Session.Users }}
                            {{if eq $usersCount 0 }}
                            <tr>
                                <td class="text-center text-gray-400" colspan="2">
                                    <div class="py-5">No Users found..</div>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}